.featureProduct-wrapper {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 0px 40px 0px;
}

.featureProduct-container {
    width: 1440px;
    height: auto;
    display: flex;
    padding-left: 112px;
    padding-right: 112px;
    margin: 0px 128.182px 0px 128.182px;
    flex-direction: column;
    position: relative;
}

.feature-title>h2 {
    font-size: 34px;
    color: rgba(60, 60, 60, 1);
    font-weight: 700;
}

.feature-title {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 51px;
    margin-bottom: 34px;
}

.silder-wrapper {
    height: 415px;
    width: 100%;
    /* z-index: -1; */
    position: relative;
}

.swiper-horizontal {
    width: 100%;
    height: 415px;
}

.swiper-wrapper {
    position: absolute !important;
    z-index: -1 !important;
}

.swiper-slide {
    width: 280px;
}


.custom-prev,
.custom-next {
    background: #fffffff5 !important;
    border-radius: 100% !important;
    border: 1px solid #80808094 !important;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.custom-prev {
    position: absolute;
    height: 40px;
    left: 90px;
    z-index: 1;
}

.custom-next {
    position: absolute;
    height: 40px;
    right: 90px;
    z-index: 1;
}
.productCard{
    position: relative;
}
.productCard .product-img>img{
    border-radius: 4px;
    width: 100% 
}
.product-img{
    position: relative;
}
.productCard>h2{
    color: rgba(60, 60, 60, 1);
    text-align: center;
    font-size: 21px;
}
.productTitle{
    align-items: center;
    display: flex; 
    justify-content: center;
    margin: 10px
}
.productTitle>h3{
    color: rgba(60, 60, 60, 1); 
    margin-right: 10px;
    font-size: 21px;
}
.productTitle>p{
    color: gray; 
    text-decoration: line-through;
    font-size: 15px;

}
.prodcutInnerText{
    color: gray;
    text-align: center;
    font-size: 15px;
}
.product_off{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    background-color: rgba(229, 79, 79, 1);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    font-weight: 600;
}
.product_zoom{
    position: absolute;
    bottom: 20px;
    right: 23px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: rgba(60, 60, 60, .75);
    display: flex;
    justify-content: center;
    visibility: hidden;
}
.product_zoom>a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img:hover .product_zoom{
    visibility: visible;
    cursor: pointer;
}

.custom-prev.disabled,
.custom-next.disabled {
   visibility: hidden;
   pointer-events: none;
}
